html
{
	width: 480px;
	height: 853px;
}

#gridCanvas
{
	width: 350px;
	height: 700px;
	position: absolute;
	top: 120px;
	left: 65px;
}

#gameCanvas
{
	width: 480px;
	height: 853px;
	position: absolute;
	top: 0px;
	left: 0px;
}